#header {
  display: grid;
  place-items: center;
}

#tweet-stream {
  background: white;
  border: 1px solid black;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  display: grid;
  height: 950px;
  list-style-type: lower-greek;
  margin-left: 10em;
  margin-right: 10em;
  overflow: auto;
  place-items: center;
}

#tweet-stream li {
  animation-duration: 2s;
  animation-name: slidein;
  background: lightseagreen;
  border-radius: 45px;
  border: 1px solid lightseagreen;
  font-size: x-large;
  font-weight: bolder;
  margin: 1.1em;
  padding: 0.36em;
  text-align: center;
  transition-duration: 307ms;
  width: 40%;
}

#tweet-stream li p:first-of-type {
  background: whitesmoke;
  font-weight: bold;
  border-radius: 45px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.54em;
}

#tweet-stream li p:nth-of-type(2),
p:nth-of-type(3) {
  margin-left: 7%;
  padding: 0.333em;
  text-align: left;
  border-radius: 5px;
  width: 45%;
  background-color: white;
}

#tweet-stream li p:nth-of-type(4) {
  background: white;
  border-radius: 10px;
  font-weight: normal;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1.3em;
  padding: 1.5em;
  box-shadow: inset 0 -3em 3em lightblue, 0 0 0 2px lightgray,
    0.3em 0.3em 1em teal;
  transition-duration: 3200ms;
}

#tweet-stream li p:nth-of-type(4):hover {
  background-color: black;
  color: whitesmoke;
  box-shadow: inset 0 -3em 3em rgb(52, 54, 55), 0 0 0 2px rgb(15, 15, 15),
    1.3em 0.3em 1em white;
}

#tweet-stream li:hover {
  border-radius: 33px;
  border: 3px black;
  box-shadow: 22px 16px 5px lightgray;
  transform: translateX(-7%) translateY(-7%) scale(106%);
}

@keyframes slidein {
  from {
    border-radius: 0;
    background-color: black;
    opacity: 0.2;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
